.foot{
    padding-top: 30px;
    width: 90%;
    margin: auto;
}
.foot h1{
    font-size: 50px;
    font-weight: 100;
    margin: 2px;
    display: flex;
    justify-content: center;
}
.rows-foot{
    display: flex;
    justify-content: space-between;
}
.foot-column1{
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 20px;
}
.foot-column2{
    flex-basis: 50%;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 20px;
}
.foot-column1 h3{
    flex-basis: 50%;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    margin: 20px;
}
.foot-column2 h3{
    flex-basis: 25%;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    margin: 20px;
}
.foot-column2 p{
    text-align: center;
}
.foot-column1 ul li{
    list-style: none;
    padding: 2px;
    margin: 2px;
}
.foot-column1 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
.foot-column1 ul li a:hover{
    color: blue;
}

.foot-column1 ul li img{
    padding-right: 10px;
    width: 30px;
}

#copy-right{
    display: flex;
    justify-content: center;
    background-color: rgb(187, 186, 186);
    bottom: 1;
}
.attribution{
    font-size: 15px;
    margin: 6px;
}
.attribution a{
    text-decoration: none;
    color: black;
}
.attribution a:hover{
    color: blue;
}