:root {
    --accent-color: #62b800;
    --orange: #FE5904;
    --deep-blue: #005EA4;
}

.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-columns h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-columns .footer-contact-column ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* padding: 20px 20px; */
}

.footer-columns .footer-contact-column ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-about-column,
.footer-contact-column {
    padding: 20px 0px;
}

.footer-about-column p {
    text-align: center;
}

.footer-contact-column ul li {
    list-style: none;
    /* center the icon with the information */
    display: flex;
    align-items: center;
}

.footer-contact-column ul li a {
    text-decoration: none;
    color: black;
}

.footer-contact-column ul li a:hover {
    color: var(--accent-color);
}

.copyright {
    background-color: var(--orange);
    padding: 25px;
    text-align: center;
}

.attribution {
    font-size: 15px;
}

.attribution a {
    text-decoration: none;
    color: black;
}

.attribution a:hover {
    color: var(--accent-color);
}


/* RESPONSIVENESS FOR LARGER DEVICES (DESKTOPS/TABLETS) */
@media screen and (min-width: 780px) {
    .footer-columns .footer-contact-column ul {
        flex-direction: row !important;
        gap: 50px;
    }

    .footer-contact-column ul li {
        flex-direction: row !important;
        gap: 10px;
    }

}