:root {
    --accent-color: #62b800;
    --orange: #FE5904;
    --deep-blue: #005EA4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}

*::selection {
    color: white;
    background-color: var(--orange);
}

/* smooth scroll-to */
html {
    scroll-behavior: smooth;
}

.video-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    /* fits the height of the viewport(screen)*/
    width: 100%;
}

.video-container video {
    position: absolute;
    object-fit: cover;
    /* set to cover to avoid stretching */
    object-position: center;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.video-container .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.534);
    /* create contrast for readability, by adding a black tint*/
    padding: 0px 10px;
    height: 100vh;
}

.video-container .caption h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

.caption .caption-highlight {
    background-color: var(--orange);
    color: white;
    padding: 0px 10px;
}

.video-container .caption p {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
}

.video-container .caption .caption-btn {
    padding: 8px 14px;
    background-color: var(--orange);
    border: none;
    color: white;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.caption .caption-btn:hover {
    background-color: #ad3a00;
}

.our-business {
    padding: 20px;
    margin: auto;
    padding-top: 40px;
}

.our-business h2 {
    font-size: 28px;
    font-weight: 100;
}

.business-rows {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.business-img {
    width: 100%;
    height: auto;
    flex: 1;
}

.business-column {
    flex: 1;
}

.column h2 {
    padding-top: 20px;
    font-weight: 100;
    text-align: center;
}

.column p {
    margin: 20px;
    font-size: 16px;
}

.offers {
    padding-top: 30px;
    width: 90%;
    margin: auto;
}

.offers h2 {
    font-size: 30px;
    font-weight: 100;
    margin: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.rows-offer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rows-offer div {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-size: cover;
    border-radius: 20px;
    padding: 20px 10px;
    color: white;
    height: 100%;
    min-height: 100%;
    text-align: center;
}

section.offers .offer-card-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.733)), url(../images/manfacturing.jpg);
}

section.offers .offer-card-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.733)), url(../images/solar-installation.jpg);
}

section.offers .offer-card-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.733)), url(../images/training-&-development.jpg);
}

.rows-offer h3 {
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
}

/* RESPONSIVENESS FOR LARGER DEVICES (DESKTOPS/TABLETS) */
@media screen and (min-width: 780px) {
    .caption h1 {
        font-size: 5vw !important;
    }

    .caption-btn {
        font-size: large;
    }

    .rows-offer {
        flex-direction: row !important;
    }

    .rows-offer div {
        height: auto;
    }
    
    .business-rows {
        flex-direction: row !important;
    }

    .column {
        flex: 1.5fr;
    }

    .business-img {
        width: inherit;
        max-width: 475px !important;
    }
}

@media screen and (max-width: 352px) {
    .caption h1 {
        font-size: 24px !important;
    }

    .caption p {
        font-size: 12px !important;
    }

}
