*{
    padding: 0;
    margin: 0;
}

.video-container {
    position: relative;
    overflow: hidden;
    height: 100vh; /* fits the height of the viewport(screen)*/
    width: 100%;
}
.video-container video {
    position: absolute;
    object-fit: cover; /* set to cover to avoid stretching */
    object-position: center;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.video-container .caption {
    padding-top: 150px;
    padding-bottom: 140px;
    color: rgb(255, 255, 255);
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.534); /* create contrast for readability, by adding a black tint*/
    height: 100vh;
}
.video-container .caption h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 170px;
    z-index: -1;
}
.video-container .caption h2{
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    
}
.video-container .caption p{
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
}

@media screen and (max-width: 481px) {
    .video-container{
        overflow-x: hidden;
    }
    .video-container .caption h1{
        font-size: 80px;
    }
    .video-container .caption h2{
        font-size: 20px;
        font-weight: 200;
    }
    .video-container .caption p{
        font-style: 15px;
    }


    .our-business h1{
        font-weight: 700;
    }
    .rows{
        flex-direction: column;
    }

    .business-img{
        width: 90%;
    }

    .rows-offer{
        flex-direction: column;
        row-gap: 20px;
    }
}

@media screen and (max-width: 700px) {
    
    
}


.our-business{
    width: 90%;
    margin: auto;
    padding-top: 40px;
}
.our-business h1{
    font-size: 50px;
    font-weight: 100;
    display: flex;
    justify-content: center;
}
.rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.column{
    flex-basis: 100%;
}
.business-img{
    display: block;
    margin-left: auto;
    margin-right: auto;    
    padding-top: 20px;
    padding-bottom: 20px;
    height: 278px;
        
}
.column h2{
    padding-top: 20px;
    font-weight: 100;
    text-align: center;

}
.column p{
    margin: 20px;
    font-size: 16px;
}


.offer{
    padding-top: 30px;
    width: 90%;
    margin: auto;
}
.offer h1{
    font-size: 50px;
    font-weight: 100;
    margin: 2px;
    display: flex;
    justify-content: center;
}
.rows-offer{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.offer-column1{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.733)),url(../images/manfacturing.jpg);
    background-size: cover;
    color: white;
    border-radius: 20px;
    padding: 20px 20px;
    box-sizing: border-box;

}
.offer-column2{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.733)),url(../images/solar-installation.jpg);
    background-size: cover;
    color: white;
    border-radius: 20px;
    padding: 20px 20px;
    box-sizing: border-box;          
}
.offer-column3{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.733)),url(../images/training-&-development.jpg);
    background-size: cover;
    color: white;
    border-radius: 20px;
    padding: 20px 20px;
    box-sizing: border-box;        
}
.offer-column1 h2{
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 20px;
}
.offer-column2 h2{
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 20px;
}
.offer-column3 h2{
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 20px;
}

