*{
    padding: 0;
    margin: 0;
}

.video-container {
    position: relative;
    
}
.video-container video {
    position: absolute;
    object-fit: fill;
    z-index: -1;
    height: 90%;
    width: 100%;
}
.video-container .caption {
    text-align: center;
    padding-top: 350px;
    padding-bottom: 140px;
    color: rgb(255, 255, 255);
    z-index: -1;

}
.video-container .caption h1{
    text-transform: capitalize;
    font-size: 170px;
    z-index: -1;
}
.video-container .caption h2{
    text-transform: capitalize;
    font-size: 50px;
    
}
.video-container .caption p{
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 20px;
}




.our-business{
    width: 90%;
    margin: auto;
}
.our-business h1{
    font-size: 50px;
    font-weight: 100;
    display: flex;
    justify-content: center;
}
.rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.column{
    flex-basis: 100%;
}
.business-img{
    display: block;
    margin-left: auto;
    margin-right: auto;    
    padding-top: 20px;
    padding-bottom: 20px;
    height: 278px;
        
}
.column h2{
    padding-top: 20px;
    font-weight: 100;
    text-align: center;

}
.column p{
    margin: 20px;
    font-size: 16px;
}


.offer{
    padding-top: 30px;
    width: 90%;
    margin: auto;
}
.offer h1{
    font-size: 50px;
    font-weight: 100;
    margin: 2px;
    display: flex;
    justify-content: center;
}
.rows-offer{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.offer-column1{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.733)),url(../images/);
    background-size: cover;
    color: white;
    border-radius: 20px;
    margin-bottom: 7%;
    padding: 20px 20px;
    box-sizing: border-box;

}
.offer-column2{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.733)),url(../images/solar-installation.jpg);
    background-size: cover;
    color: white;
    border-radius: 20px;
    padding: 20px 20px;
    box-sizing: border-box;          
}
.offer-column3{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.733)),url(../images/training-&-development.jpg);
    background-size: cover;
    color: white;
    border-radius: 20px;
    padding: 20px 20px;
    box-sizing: border-box;        
}
.offer-column1 h2{
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 20px;
}
.offer-column2 h2{
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 20px;
}
.offer-column3 h2{
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 20px;
}

